/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&display=swap');

body{
    background-color: #5CDB95;
    font-family: 'Poppins', sans-serif;
}

/*login and register button*/
.log-reg-btn{
  background: #05396b;
  border: none;
  color: #edf5e0;
  width: 6em;
}
.log-reg-btn:hover{
  background: #001e3b;
}

/*card*/
.card{
  border: 1px solid #05396b;
}

/*line with text*/
.line {
   width: 23em; 
   text-align: center; 
   border-bottom: 1px solid #05396b; 
   line-height: 0.1em;
   margin: 10px 0 20px; 
   color: #05396b;
} 
span.txt { 
    background: #5CDB95;
    padding:0 10px; 
}

/*grey button*/
.acc-btn{
  background: #edf5e0;
  border: none;
  color: #05396b;
  width: 23em;
}
.acc-btn:hover{
  background: #d0d6c5;
  border: none;
  color: #05396b;
}

